h1{
    color: rgb(32, 132, 125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40pt;
}

h2{
    color: rgb(12, 102, 96);
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: rgb(204, 203, 203);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}


body{
    background-color: rgb(204, 203, 203);
    margin: 0pt;
}
 

.hello {
    display: flex;
    align-items: left;
    
    font-size: 16pt;
    flex-direction: column;
   
    
}
.fline{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.secondline{
    font-size: 30pt;
    color: rgb(32, 132, 125);
    margin-top: -50pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    list-style-type: none;
    margin: 0pt;
    padding: 10pt 32pt;
    justify-content: flex-end;

    display: flex;
    flex-direction: row;
}

.menu a{
    font-size: 14px;
    line-height: 4pt;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 16px;
    margin: 0px 4px;
    border: 0px solid transparent;
    border-radius: 16px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu a:hover{
    color: rgb(50, 50, 50);
    background-color: rgb(204, 203, 203);
}


.bar{
    background-color: black;
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    padding: 0pt 0pt;
    align-items: center;

    position: sticky;
    top: 0%;
}
.bar a{
    color: rgb(204, 203, 203);
    text-decoration: none;
}

.logo{
    color: white;
    margin-left: 50pt;
} 

.first{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    margin-top: -3%;
    
}
.aboutme{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgb(32, 32, 32);

}

.aboutmetext{
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 34, 34);
    width: 600px;
    padding-left: 80px;
    background-color:  rgb(204, 203, 203);
    padding: 45px 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.aboutmetext a{
    text-decoration: none ;
    color: rgb(43, 89, 89);
}

.facts{
    
    color: rgb(50, 50, 50);
    width: 500px;  
}

.skillsleft{
    justify-content: space-around;
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
}

.programs{
    font-size: 20pt;
    justify-content: center;
    border: none ;
    background-color:  rgb(32, 32, 32);
    padding-top: 10pt;
    padding-bottom: 50pt;
    padding-left: 70pt;
    padding-right: 70pt;
    margin-top: 50px;
    margin-left: 175px ;
    margin-right: 200px;
    width: 800px;
    
}

.iconprog{
    justify-content: center;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    
    gap: 40px;
    
    
}
.skills{
    align-items: center;
    justify-content: space-around;
}
.skillsright {
    justify-content: right;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.skillslist{
    font-size: 14pt;
    color: rgb(18, 18, 18);
    width: 550px;
    padding-right: 100pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.portfolio{
    background-color: rgb(32, 32, 32);
    min-height: 100vh;
    min-width: 100vh;
    justify-content: center;
    
    
}

.porttitle{
    padding-left: 175px;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 24pt;
    color:rgb(69, 135, 135);
    font-weight: bold;
    
}

.portphoto{
    column-count: 2;
    margin-left: 200px;
    color:rgb(204, 203, 203);
   

}

.figcaption{
  padding-bottom: 25px;
  font-size: 15px;
 
}

.port1{
    padding-bottom: 25px;
}
.port3{
    padding-bottom: 25px;
}

.contacts{
    min-height: 100vh;
    min-width: 100vh;
    background-color:rgb(204, 203, 203);
    justify-content: center;
    align-items: center;
 
}

.conttitle{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30pt;
    color:rgb(69, 135, 135);
    font-weight: bold;
    padding-top: 120pt;
    
}

.link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    justify-content: space-around;
    padding: 100pt 200pt;
}
/* ну не розумію як воно працює :(((((((((
@media screen and (max-width: 320px){
    .skills{
      max-width: 100px;
      margin: 0 auto;
      padding: 0 15px;
    }
}

@media screen and (max-width: 320px){
    .bar{
        background-color: black;
        max-width: 320px;
        display: flex;
    
        flex-direction: row;
        justify-content: space-between;
        padding: 0pt 0pt;
        align-items: center;
    
        position: sticky;
        top: 0%;
    }
}




@media (max-width: 320px){
    .contacts{
       width: 320px;
        height: 100vh;
        background-color:rgb(204, 203, 203);
        justify-content: center;
        flex-direction: column ;
    }
}

@media (max-width: 320px){
    .portfolio{
       width: 320px;
        height: 100vh;
        background-color:rgb(204, 203, 203);
        justify-content: center;
        flex-direction: column ;
    }
}*/